@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
:root {
  --clr-oxford-blue: hsla(212, 100%, 17%, 1);
  --clr-oxford-blue-3: hsla(219, 100%, 10%, 1);
  --clr-delft-blue: hsla(220, 29%, 28%, 1);
  --clr-slate-gray: hsla(222, 11%, 54%, 1);
  --clr-cherry-blossom-pink: hsla(345, 100%, 85%, 1);
  --clr-bakermiller-pink: hsla(345, 100%, 78%, 1);
  --clr-russian-violet: hsla(255, 45%, 18%, 1);
  --clr-lilac: hsla(292, 28%, 68%, 1);
  --clr-cornsilk: hsla(52, 94%, 94%, 1);
  --clr-earth-yellow: hsla(32, 65%, 62%, 1);
  --clr-tigers-eye: hsla(28, 67%, 44%, 1);
}
body {
  font-family: "Roboto", sans-serif;
  background-color:rgb(215, 236, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.main-card{
  width: 50%;
  border: 1px solid #fff;
  padding-top: 5rem;
  background-color: #fff;
  border-radius: 12px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle{
  width: 5%;
}
.round{
  padding: 6px;
  background-color: white;
  border: 2px solid rgb(156, 152, 152);
  border-radius: 50%;
}
.round:hover{
  border: 2px solid rgb(0, 0, 0);
}
.title{
  text-align: center;
  font-size: 16px;
  margin-bottom: 2rem;
  width: 500px;
}
.hero-container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 5rem;
  width: 80%;
}
.row-one{
  display: flex;
  align-items: center;
  gap: 10px;
}
.language{
  font-size: 22px;
  cursor: pointer;
}
.submit{
  padding: 2rem;
  width: 710px;
  border: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: rgb(171, 60, 171);
  color: #fff;
  font-size: 21px;
  cursor: pointer;
}
.submit:hover{
  background-color: rgb(123, 41, 123);
}

.small-round{
  padding: 6px;
  background-color: white;
  border: 2px solid dodgerblue;
  border-radius: 50%;
}

